<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dong.beta.dao.mapper.ParseRuleMapper">
  <resultMap id="BaseResultMap" type="com.dong.beta.dao.domain.ParseRule">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="rule_id" jdbcType="INTEGER" property="ruleId" />
    <result column="rule_name" jdbcType="VARCHAR" property="ruleName" />
    <result column="rule_type" jdbcType="TINYINT" property="ruleType" />
    <result column="split_char" jdbcType="VARCHAR" property="splitChar" />
    <result column="field_id" jdbcType="INTEGER" property="fieldId" />
    <result column="rule_status" jdbcType="TINYINT" property="ruleStatus" />
  </resultMap>

  <update id="updateRuleStatus">
    update parse_rule set rule_status=#{rule_status} where id=#{id}
  </update>

  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, rule_id, rule_name, rule_type, split_char, field_id, rule_status
  </sql>
  <select id="selectByExample" parameterType="com.dong.beta.dao.domain.ParseRuleCriteria" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from parse_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from parse_rule
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from parse_rule
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.dong.beta.dao.domain.ParseRuleCriteria">
    delete from parse_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.dong.beta.dao.domain.ParseRule">
    insert into parse_rule (id, rule_id, rule_name, 
      rule_type, split_char, field_id, 
      rule_status)
    values (#{id,jdbcType=INTEGER}, #{ruleId,jdbcType=INTEGER}, #{ruleName,jdbcType=VARCHAR}, 
      #{ruleType,jdbcType=TINYINT}, #{splitChar,jdbcType=VARCHAR}, #{fieldId,jdbcType=INTEGER}, 
      #{ruleStatus,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.dong.beta.dao.domain.ParseRule">
    insert into parse_rule
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ruleId != null">
        rule_id,
      </if>
      <if test="ruleName != null">
        rule_name,
      </if>
      <if test="ruleType != null">
        rule_type,
      </if>
      <if test="splitChar != null">
        split_char,
      </if>
      <if test="fieldId != null">
        field_id,
      </if>
      <if test="ruleStatus != null">
        rule_status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ruleId != null">
        #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="ruleName != null">
        #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="splitChar != null">
        #{splitChar,jdbcType=VARCHAR},
      </if>
      <if test="fieldId != null">
        #{fieldId,jdbcType=INTEGER},
      </if>
      <if test="ruleStatus != null">
        #{ruleStatus,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.dong.beta.dao.domain.ParseRuleCriteria" resultType="java.lang.Long">
    select count(*) from parse_rule
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update parse_rule
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.ruleId != null">
        rule_id = #{record.ruleId,jdbcType=INTEGER},
      </if>
      <if test="record.ruleName != null">
        rule_name = #{record.ruleName,jdbcType=VARCHAR},
      </if>
      <if test="record.ruleType != null">
        rule_type = #{record.ruleType,jdbcType=TINYINT},
      </if>
      <if test="record.splitChar != null">
        split_char = #{record.splitChar,jdbcType=VARCHAR},
      </if>
      <if test="record.fieldId != null">
        field_id = #{record.fieldId,jdbcType=INTEGER},
      </if>
      <if test="record.ruleStatus != null">
        rule_status = #{record.ruleStatus,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update parse_rule
    set id = #{record.id,jdbcType=INTEGER},
      rule_id = #{record.ruleId,jdbcType=INTEGER},
      rule_name = #{record.ruleName,jdbcType=VARCHAR},
      rule_type = #{record.ruleType,jdbcType=TINYINT},
      split_char = #{record.splitChar,jdbcType=VARCHAR},
      field_id = #{record.fieldId,jdbcType=INTEGER},
      rule_status = #{record.ruleStatus,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.dong.beta.dao.domain.ParseRule">
    update parse_rule
    <set>
      <if test="ruleId != null">
        rule_id = #{ruleId,jdbcType=INTEGER},
      </if>
      <if test="ruleName != null">
        rule_name = #{ruleName,jdbcType=VARCHAR},
      </if>
      <if test="ruleType != null">
        rule_type = #{ruleType,jdbcType=TINYINT},
      </if>
      <if test="splitChar != null">
        split_char = #{splitChar,jdbcType=VARCHAR},
      </if>
      <if test="fieldId != null">
        field_id = #{fieldId,jdbcType=INTEGER},
      </if>
      <if test="ruleStatus != null">
        rule_status = #{ruleStatus,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dong.beta.dao.domain.ParseRule">
    update parse_rule
    set rule_id = #{ruleId,jdbcType=INTEGER},
      rule_name = #{ruleName,jdbcType=VARCHAR},
      rule_type = #{ruleType,jdbcType=TINYINT},
      split_char = #{splitChar,jdbcType=VARCHAR},
      field_id = #{fieldId,jdbcType=INTEGER},
      rule_status = #{ruleStatus,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>